include README.md
include LICENSE
include pyproject.toml
recursive-include missive/templates *
recursive-include missive/static *
recursive-include missive/migrations *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

