# Development dependencies
# Install qualitybase in editable mode for local development
-e ../python-qualitybase
-e ../python-providerkit
-e ../django-providerkit
-e ../django-boosted
-e ../django-virtualqueryset
-e ../python-geoaddress
-e ../django-geoaddress
-e ../python-missive
-e .


# Include production dependencies
Django>=3.2
django-stubs>=5.0.0
python-dotenv>=1.0
pytest>=7.0
pytest-django>=4.5
django-extensions>=3.2
djangorestframework>=3.14
django-phonenumber-field[phonenumbers]>=7.0
babel>=2.0
pyngrok>=7.5.0